@for (item of  detail ; track item.appointmentId) {
<mat-card class="card">
<mat-card-header>
<mat-card-title>Appointment No.{{ item.appointmentId }}</mat-card-title>
<mat-card-subtitle>Consulting Doctor:  {{item.physician.name}}  ({{item.physician.position}})</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
<p>Date: {{item.starDateTime | date:'mediumDate'}}</p>
<p>Patient Name: {{ item.patient.name}} ID:{{ item.patient.patientId }}</p>
<p>Assigned Nurse: {{item.prepNurse.nurse.name}}</p>
<p>Nurse Position: {{item.prepNurse.nurse.position}}</p>
</mat-card-content>
</mat-card>
}